/* --------------------------------
-----First Header Container-----
-------------------------------- */

header{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    position:fixed;
    /* Sets the font to the one defined in the :root section of body.css */
    font-family: var(--main-font);
    font-size: 30px;
    background-color: black;
    height: 40px;
}

/* Makes the header solid when the user hovers on it */
header:hover{
    opacity: 1;
    background-color: black;
}

/* Class added to header by headerFade.js, hides the header, but the transition makes it a smooth animation */
.hideHeader{
    transition-duration: 0.5s;
    opacity: 0;
}

/* ----------------------------
-----Top Navigation Bar-----
-------------------- -------*/

.topHeader {
    margin-top: 8px;
    display: inline-flex;
    font-size: 30px;
    list-style: none;
    position: relative;
}


/* Home button styling */
#home {
    /* padding-top: 25px; */
    text-decoration: none;
    color: aliceblue;
    font-size: 40px;
}


/* Styling for the navigation links */
.link {
    text-decoration: none;
    /* Off-white because I do not want to blind anyone */
    color:aliceblue;
    /* Stops the elements overlapping and positions them better */
    position: relative;
    /* Adds spacing between the header elements */
    margin: 5px;
    padding: 5px 5px;
    transition: all 0.3s ease-in-out;
}

/* Link hover animation */
.link:hover {
    background: rgba(0, 255, 200, 0.689);
    border-radius: 20px;
    color: black;
}

/* The burger */
#burgerLogo {
    width: 30px;
    padding-top: 8px;
    /* Hide the burger */
    display: none;
}

/* The accessibility button on top header*/
#changeFont {
    width: 30px;
    padding: 0;
    margin: 0;
    display: block;
}

/* The accessibility button on side header */
#changeFontSide {
    width: 30px;
    margin-right:35px;
    display: block;
}

/* -----------------------------
-----Side Navigation Bar-----
----------------------------- */
#sideHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 150px;
}

/* Flexes vertically as it must be suited to narrow screens */
.sideHeader {
    /* Stops break in border */
    margin-top: 50px;
    overflow-x:hidden;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    font-family: var(--main-font);
    font-size: 30px;
    /* Should be big enough for even the smallest screens */
    width:80px;
    align-items: center;
    border-radius: 10px;
    border: solid;
    border-color: #00bc8e;
    background-color: black;
    /* Hide it until used on narrow screen (width < 1000) */
    display: none;
    opacity: 0;
    transition: all 0.5s ease-in-out; 
}
.sideHeader .link{
    margin-right: 40px;
}

/* Actually enabling side header (used by headerFade.js) */
.showSideHeader { 
    display: flex;  
}

/* The animation for side header (used by headerFade.js) */
.sideHeaderTransition {  
    opacity: 1;
}
